PUBLIC_SUPABASE_URL=https://ogmnycqeemtfjqtxxvwl.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9nbW55Y3FlZW10ZmpxdHh4dndsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MTU0NjMsImV4cCI6MjA5MTI5MTQ2M30.2HqIGs2bv23ez_jlkOsByQcgNt9YAN7DnwI5d4YXl-Q
EBAY_APP_ID=your_ebay_app_id